<form class="row form-inline" style="margin-bottom = 50px" ng-submit="submit()">
  <div class="form-group col-sm-3 col-xs-6">
    <input type="text" class="form-control" id="lattitudeInput" placeholder="Lattitude" ng-model="lat1">
  </div>
  <div class="form-group col-sm-3 col-xs-6">
    <input type="text" class="form-control" id="longitudeInput" placeholder="Longitude" ng-model="long1">
  </div>
  <div class="form-group col-sm-3 col-xs-6">
    <input type="text" class="form-control" id="lattitudeInput2" placeholder="Lattitude2" ng-model="lat2">
  </div>
  <div class="form-group col-sm-3 col-xs-6">
    <input type="text" class="form-control" id="longitudeInput2" placeholder="Longitude2" ng-model="long2">
  </div>
  <div class="form-group" style="width:100%; text-align: center;">
    <div class="col-sm-2 col-xs-4" style="width:100%;">
      <button type="submit" class="btn btn-success" style="width:50%; margin-top:10px;">Submit</button>
    </div>
  </div>
</form>
<div id="pie-chart" class="admin-chart"></div>
